{% extends 'base.html' %}
{% load static %}


{% block title %}
    검색 기록
{% endblock %}

{% block optional_javascript %}
<script>
$(document).ready(function(){
    $('#historytable').dataTable();
});
$("historytable").dataTable({
    sPaginationType: "full_numbers"
});

var myTable = $('#historytable').DataTable();

$('#historytable').on( 'click', 'tbody tr', function () {
    myTable.row( this ).delete();
} );

</script>
{% endblock %}

{% block optional_css %}
    <style>
    #historytable_wrapper {
        width: 90%;
        margin: auto;
    }
    </style>
{% endblock %}

{% block content %}
    <table id="historytable" class="display">
        <thead>
          <tr>
            <th>Keyword</th>
            <th>User</th>
            <th>Time</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
            <th>Fourth</th>
            <th>Fifth</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for item in result %}
                <tr>
                    <td>{{ item.keyword }}</td>
                    <td>{{ item.user }}</td>
                    <td>{{ item.time }}</td>
                    {% for link, name in item.list %}
                        {% if name == 'Error' %}
                        <td>{{ name }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% else %}
                        <td><a href="{{ link }}">{{ name }}</a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}