{% extends 'base.html' %}
{% load static %}


{% block title %}
    검색 기록
{% endblock %}

{% block content %}
    <table id="historytable" class="display" cellspacing="0" width="70%">
        <thead>
          <tr>
            <th>Keyword</th>
            <th>User</th>
            <th>Time</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
            <th>Fourth</th>
            <th>Fifth</th>
          </tr>
        </thead>
        <tbody>
            {% for item in result %}
                <tr>
                    <td>{{ item.keyword }}</td>
                    <td>{{ item.user }}</td>
                    <td>{{ item.time }}</td>
                    <td><a href="{{ item.first_link }}">{{ item.first_name }}</td></a>
                    <td><a href="{{ item.second_link }}">{{ item.second_name }}</td></a>
                    <td><a href="{{ item.third_link }}">{{ item.third_name }}</td></a>
                    <td><a href="{{ item.fourth_link }}">{{ item.fourth_name }}</td></a>
                    <td><a href="{{ item.fifth_link }}">{{ item.fifth_name }}</td></a>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}
<script>
$("historytable").dataTable({
             bJQueryUI: true,
             sPaginationType: "full_numbers"
});
</script>
<table id="historytable" class="table table-striped" >

{% comment %}https://www.codeproject.com/Tips/823490/Bootstrap-Table-With-Sorting-Searching-and-Paging{% endcomment %}